<h1>how to play</h1>

<p>
  With 50 different boards to choose from, ALLOUT is a devilish game indeed, and it will most
  certainly put those brain cells to the test.
</p>

<p>
  The objective of the game is to turn each light on the board out. By clicking a piece on the board
  you will reverse the state for that piece and every adjacent piece. If they were "on" they'll
  switch to "off". To win you just need to make sure the entire board is ALLOUT.
</p>

<p>
  If you're really stuck you can click the Solve button; but beware, there is a price to pay for the
  solution.
</p>

<p>
  The first 4 levels of ALLOUT are classified as "easy" to get you into the swing of things, from
  that point on...<br />you're on your own. Good luck!
</p>
