@import 'responsive-mixins';
@import 'colors';

:host {
  // $x-width: calc($mobile-toggle-height + $mobile-toggle-margin + 3rem);

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

aside.left {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  section.field-selector-container {
    #game-field-selector {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      #selected-map {
        width: 3rem;
        text-align: center;
        font-size: 1.5em;
      }
    }
  }

  section.functions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.4rem;

    button {
      width: 100%;
    }
  }

  section.info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    aside.left,
    aside.right {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.2rem;
    }
  }
}

section.gamepad-container {
  #gamepad {
    width: 500px;
    height: 500px;

    display: grid;
    align-content: center;
    grid-gap: 5px;

    // grid-template-columns: repeat(5, 1fr);

    border: 5px solid $primary-color;
    background-color: $primary-color;

    .cell {
      background-color: pink;

      aspect-ratio: 1;
      position: relative;
      transform: scale(1);
      transform-style: preserve-3d;
      transition: transform 0.5s;

      &.turnedOut {
        background-color: $secondary-color;
      }
    }
  }
}
