<aside class="left">
  <section class="field-selector-container">
    <div id="game-field-selector">
      <h1>Field Selector</h1>
    </div>
  </section>
  <section class="functions">
    <button>Solve</button>
    <button>Reset</button>
    <button>Random</button>
    <button (click)="openHelpDialog()">Help</button>
  </section>
  <section class="info">
    <aside class="left">
      <div>Time:</div>
      <div>Moves:</div>
    </aside>
    <aside class="right">
      <div id="time">0:00</div>
      <div id="moves">0</div>
    </aside>
  </section>
</aside>
<aside class="right">
  <section class="gamepad-container">
    <div id="gamepad"></div>
  </section>
</aside>
