:host {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  line-height: 1.5;
}

.toplist {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 15px;
  list-style-type: none;

  .toplist__item {
    display: flex;
    justify-content: space-between;
  }
}
